#map {
    width: 100%;
    height: 480px;
    margin-bottom: 8pt;
}

.hidden {
    display: none;
}

.accent {
    background: var(--pico-color-pink-500);
    border-color: var(--pico-color-pink-500);
}

.just-validate-error-field {
    border-color: var(--pico-color-pink-500);
}

.just-validate-error-label {
    position: relative;
    top: calc(-1 * var(--pico-spacing));
}
